@import "tailwindcss";
@theme {
  --color-primary: #6366f1;
  --color-secondary: #10b981;
}
 @custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}
/* body{
  background-color: hsl(0 0% 98%);
  color: hsl(0 0% 3%);
  transition: background-color 0.3s, color 0.3s;
  }
  
  @media (prefers-color-scheme: dark){
    body{
      background-color: hsl(0, 0%, 5%);
      color: hsl(0, 0%, 98%);
    }
  }
 */
 body{
  @apply bg-gray-100
   dark:bg-gray-950
    text-gray-900
     dark:text-gray-100 
     transition-colors
      duration-300;
 }